@media screen and (max-width: 1266px) {
  body .header {
    padding-right: 20px;
  }
  body .main .qr-code .orders {
    padding-left: 20px;
    padding-right: 20px;
  }
  body .main .our-mission {
    padding-left: 15px;
  }
  body .main .our-mission .contact {
    padding: 62px 30px;
  }
  body .main .our-mission .content {
    padding-right: 30px;
  }
  body .main .scanner {
    height: 100%;
  }
  body .main .scanner .scanner-steps {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  body .main .scanner .scanner-steps .scanner-images {
    width: auto;
    margin-top: 60px;
  }
  body .main .scanner .scanner-steps .scanner-text {
    width: 100%;
    text-align: center;
  }
  body .main .integration {
    display: flex;
    flex-direction: column;
  }
  body .main .integration-text {
    margin-bottom: 100px;
  }
  body .main .integration-graphs {
    align-self: center;
  }
}

@media screen and (max-width: 1100px) {
  body .header .downloads {
    flex-direction: column;
    align-items: center;
  }
  body .main .qr-code {
    background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.199317) 50%, black 100%), url(../../img/background-dj.png) no-repeat 0 0/100%, url(../../img/background-coctail.png) no-repeat 0% 50%/100%;
    padding-top: 500px;
  }
  body .main .qr-code .orders {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 160px;
  }
  body .main .qr-code-first-order, body .main .qr-code-second-order, body .main .qr-code-content {
    align-self: inherit;
  }
  body .main .our-mission .content {
    flex-direction: column-reverse;
  }
  body .main .our-mission .content-wrapper-text {
    width: 50%;
    text-align: center;
  }
  body .main .our-mission .content-wrapper-text__content {
    width: 100%;
  }
  body .main .our-mission .content-wrapper-image {
    width: auto;
    height: auto;
  }
  body .main .our-mission .content-wrapper-image__img {
    width: 100%;
    height: auto;
    position: static;
    margin-top: 60px;
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 1000px) {
  body .header {
    padding: 15px;
    padding-right: 0px;
  }
  body .header .navbar {
    padding-right: 15px;
    gap: 0px;
    justify-content: space-between;
  }
  body .header .about-us-image {
    width: 30%;
    background-image: url(../../img/iphone-half.png);
  }
  body .header .about-us-image:before {
    width: 90%;
    height: 600px;
    filter: blur(170px);
    left: -100px;
  }
  body .header .about-us-image:after {
    display: none;
  }
  body .main .our-mission .contact {
    flex-direction: column;
  }
  body .main .our-mission .contact-new, body .main .our-mission .contact-login {
    width: 100%;
  }
  body .main .qr-code-generate {
    margin-bottom: 200px;
  }
  body .main .qr-code-generate-wrapper-image::before {
    right: auto;
    top: auto;
    bottom: -10%;
    left: 60%;
    font-size: 20px;
    width: 150px;
    display: flex;
    align-items: flex-end;
  }
  body .main .qr-code-generate-wrapper-image::after {
    top: 90%;
    right: 0%;
    bottom: 0%;
    left: 100%;
    transform: rotate(45deg);
  }
  body .main .scanner-images {
    flex-direction: column;
  }
  body .main .no-tab {
    display: none;
  }
  body .main .get-in-touch .wrapper-form {
    padding: 0 15px;
  }
  body .main .integration {
    padding-left: 15px;
  }
  body .main .integration-graphs {
    width: 100%;
  }
  body .main .integration-graphs__first {
    right: auto;
    left: -10%;
    top: 40%;
  }
  body .main .integration-graphs__first img {
    width: 144px;
    height: auto;
  }
  body .main .integration-graphs__second {
    display: none;
  }
  body .main .integration-graphs__third {
    right: auto;
    left: 0;
    top: 0;
  }
  body .main .integration-graphs__fourth {
    left: auto;
    right: 25%;
    top: -10%;
  }
  body .main .integration-graphs__fourth img {
    width: 90px;
    height: auto;
  }
  body .main .integration-graphs__fifth {
    left: auto;
    right: 1%;
    top: -27%;
  }
  body .main .integration-graphs__fifth img {
    width: 85px;
    height: auto;
  }
  body .main .integration-graphs__sixth {
    left: 30%;
    bottom: auto;
    right: auto;
    top: 25%;
  }
  body .main .integration-graphs__sixth img {
    width: 90px;
    height: auto;
  }
  body .main .integration-graphs__seventh {
    left: 40%;
    bottom: auto;
    right: auto;
    top: 70%;
  }
}

@media screen and (max-width: 768px) {
  body .main .get-in-touch .downloads-typography {
    margin-bottom: 45px;
  }
  body .main .get-in-touch .downloads-typography__text {
    font-size: 34px;
  }
  body .main .get-in-touch .downloads__play-market, body .main .get-in-touch .downloads__app-store {
    width: 100%;
  }
  body .main .get-in-touch .downloads__play-market a img, body .main .get-in-touch .downloads__app-store a img {
    width: 100%;
  }
  body .main .get-in-touch .downloads-markets {
    flex-direction: column;
    align-items: center;
  }
  body .footer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  body .footer-left-side {
    margin-top: 58px;
  }
}

@media screen and (max-width: 576px) {
  body .header {
    z-index: 2;
  }
  body .header .navbar-login__icon {
    display: none;
  }
  body .header .about-us-typography__heading {
    font-size: 35px;
  }
  body .header .about-us-typography-decoding__line {
    display: none;
  }
  body .header .downloads-markets {
    display: none;
  }
  body .header .downloads-markets-big {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 34px;
  }
  body .header .downloads__app-store a img, body .header .downloads__play-market a img {
    width: 100%;
  }
  body .main .our-mission .content-wrapper-text {
    width: 100%;
    text-align: left;
  }
  body .main .scanner .scanner-steps {
    padding-left: 15px;
  }
  body .main .scanner .scanner-steps .scanner-text {
    text-align: left;
  }
  body .main .integration-graphs__third {
    width: 110px;
    height: 22px;
  }
  body .main .integration-graphs__third img {
    width: 25%;
  }
  body .main .integration-graphs__circle:nth-child(4) {
    display: none;
  }
  body .main .qr-code .orders .downloads-markets {
    display: none;
  }
  body .main .qr-code .orders .qr-code-second-order__image,
  body .main .qr-code .orders .qr-code-first-order__image {
    width: 281px;
  }
  body .main .qr-code .orders .downloads-markets-big {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  body .main .qr-code .orders .downloads-markets-big a img {
    width: 100%;
  }
  body .main .qr-code-generate-wrapper-image::after {
    left: 90%;
    top: 70%;
  }
  body .main .qr-code-generate-wrapper-image__image {
    width: 182px;
  }
  body .main .qr-code-generate-content {
    padding: 0 15px;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }
  body .main .ordering .wrapper-ordering-content {
    padding: 0 15px;
    justify-content: flex-start;
  }
  body .main .get-in-touch-form-city {
    flex-direction: column;
  }
  body .main .get-in-touch-form__button {
    width: 100%;
    padding: 25px 0px;
  }
}

@media screen and (max-width: 400px) {
  body .header .navbar-logo {
    justify-content: flex-start;
  }
  body .header .about-us {
    margin-top: 110px;
  }
  body .header .about-us-typography {
    z-index: 2;
    gap: 24px;
  }
  body .header .about-us-typography__heading {
    font-size: 25px;
  }
  body .header .about-us-typography-decoding__text p {
    font-size: 14px;
  }
  body .header .about-us-image {
    width: 161px;
    height: 322px;
    background-size: contain;
  }
  body .header .downloads-typography {
    z-index: 2;
  }
  body .header .downloads-typography h2 {
    font-size: 24px;
  }
  body .header .downloads-markets-big {
    z-index: 2;
  }
  body .header .downloads-markets-big {
    align-items: center;
  }
  body .header .downloads__app-store, body .header .downloads__play-market {
    width: 70%;
  }
  body .main {
    margin-top: 70px;
  }
  body .main .our-mission {
    padding: 0;
  }
  body .main .our-mission .contact {
    padding: 0 15px;
  }
  body .main .our-mission .contact-new__typography {
    font-size: 24px;
  }
  body .main .our-mission .content {
    margin-top: 110px;
    padding: 0 15px;
  }
  body .main .our-mission .content-wrapper-text__typography {
    font-size: 24px;
  }
  body .main .our-mission .content-wrapper-text__content {
    font-size: 16px;
  }
  body .main .scanner-text__typography {
    font-size: 24px;
  }
  body .main .scanner-text__content {
    font-size: 16px;
  }
  body .main .integration-text__typography {
    font-size: 24px;
  }
  body .main .integration-text__content {
    font-size: 16px;
  }
  body .main .qr-code .orders {
    padding: 0 15px;
  }
  body .main .qr-code .orders .downloads-markets-big {
    align-items: center;
  }
  body .main .qr-code .orders .downloads-markets-big .downloads__app-store,
  body .main .qr-code .orders .downloads-markets-big .downloads__play-market {
    width: 100%;
    text-align: center;
  }
  body .main .qr-code .orders .downloads-markets-big .downloads__app-store img,
  body .main .qr-code .orders .downloads-markets-big .downloads__play-market img {
    width: 70%;
  }
  body .main .qr-code-content {
    width: 100%;
  }
  body .main .qr-code-content__typography {
    font-size: 24px;
  }
  body .main .qr-code-content__text {
    font-size: 16px;
  }
  body .main .qr-code-generate-content__typography {
    font-size: 24px;
  }
  body .main .qr-code-generate-content__text {
    font-size: 16px;
  }
  body .main .ordering-content__typography {
    font-size: 24px;
  }
  body .main .ordering-content__text {
    font-size: 16px;
  }
  body .main .get-in-touch-text__typography {
    font-size: 24px;
  }
  body .main .get-in-touch-text__content {
    font-size: 14px;
  }
}
/*# sourceMappingURL=media.css.map */